<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Minha Lista de Projetos</title>
    <link rel="stylesheet" href="{% static 'lista/lista.css' %}">
</head>
<body>

    <h1>Gerenciador de Projetos Web</h1>
    <hr>

    {% for projeto in meus_projetos %}     
        <div>
            <h2><a>{{ projeto.nome }}</a></h2>
            <p>{{ projeto.descricao }}</p>
            <small>Criado em: {{ projeto.data_criacao }}</small>
        </div>
    {% empty %}
        <p>Nenhum projeto cadastrado ainda. Adicione alguns no <a href="/admin/">admin</a>!</p>
    {% endfor %}
</body>
</html>
