
.participant-list {
    list-style: none; 
    padding: 0;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}

/* Cada item da lista (<li>) */
.participant-list li {
    padding: 15px 20px;
    border-bottom: 1px solid #f0f0f0;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    transition: background-color 0.2s;
}

/* Efeito ao passar o mouse */
.participant-list li:hover {
    background-color: #f9fbfd; /* Azul bem clarinho */
}


.participant-list li:last-child {
    border-bottom: none;
}


.participant-list strong {
    font-size: 1.1rem;
    color: #2c3e50;
    display: block; 
    margin-bottom: 4px;
}


.participant-list small {
    color: #7f8c8d;
    font-size: 0.9rem;
}


.btn-success {
    margin-bottom: 15px;
    display: inline-block;
    width: auto; 
}


@media (max-width: 500px) {
    
    .participant-list li {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    
    .participant-list li div:last-child {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .participant-list a.btn {
        flex: 1; 
        text-align: center;
    }
}